$color_dark: #2C2D39;
$color_light: #EBF2F2;
$color_grey: #6c757d;

$color_blu: #87aadb;

$color_yellow: #ECAF3B;
$color_green: #30B885;
$color_red: #f44336;

$color_baselight: #d0dada;
$color_basegrey: #949797;

body {
    background-color: $color_baselight;
}

.bg-admin {
    background-color: $color_dark;
}

.navbar-dark {
    .navbar-brand {
        color: $color_baselight;
    }

    .navbar-nav {
        .nav-link {
            color: $color_baselight !important;
            font-weight: 500;
        }

        .nav-link:hover, .nav-link:active {
            color: $color_yellow !important;
        }
    }
}

.fixed-width {
    min-width: 7rem;
}

.alert {
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.outline-dark {
    border: 1px solid $color_grey;
}
.outline-green {
    border: 1px solid $color_green;
}
.btn-left {
    border-left: none;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.btn-right {
    border-right: none;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.btn-green-inv {
    color: $color_green;
    background-color: $color_light;
    border-radius: 5px;
    font-weight: 500;
}

.btn-dark-inv {
    color: $color_basegrey;
    background-color: $color_light;
    border-radius: 5px;
    font-weight: 500;
}

.btn-green {
    background-color: $color_green;
    color: $color_light;
    border-radius: 5px;
    font-weight: 500;
}

.toolbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
    padding: 1rem 0 0.5rem 0;
}

.input-group {
    width:auto ;
    margin: 0.5rem;
}

.table-card {
    margin: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 15px;
}

.btn-blue {
    background-color: $color_blu;
    color: $color_dark;
    border-radius: 5px;
    font-weight: 500;
}
.btn-blue:hover {
    color: $color_light;
}

.fa-check {
    color: $color_green;
}

.fa-times {
    color: $color_red;
}

.fa-pen {
    color: $color_green;
}
.fa-user-cog {
    color: $color_yellow;
}
.fa-trash-alt {
    color: $color_red;
}

.fa-clock {
    color: $color_yellow;
}
.fa-caret-square-right {
    color: $color_blu;
}
tr {
    td {
        a {

            .fas {
                padding: 0, 0.125rem 0 0.125rem;
            }
        }

        table-symbol {
            margin: auto;
        }

        .fa-check {
            color: $color_green;
        }

        .fa-times {
            color: $color_red;
        }

        .fa-clock {
            color: $color_yellow;
        }
    }
}