@{
    ViewData["Title"] = "Home Page";
}
<div class="smart-separator" id="up"></div>

<div class="text-center" id="welcome_section">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="content-splash">

    <div class="section">
        <h4 class="section-heading">NEW</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo.
            Vestibulum fermentum tortor id mi. Curabitur sagittis hendrerit ante. Nunc tincidunt ante vitae massa.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo.
            Vestibulum fermentum tortor id mi. Curabitur sagittis hendrerit ante. Nunc tincidunt ante vitae massa.
        </p>
    </div>
    <div class="section">
        <h4 class="section-heading">FEATURES</h4>
        <div class="card-navigator">
            <div class="card">
                <div class="card-body">Feature card Curabitur sagittis hendrerit ante </div>
            </div>
            <div class="card">
                <div class="card-body">Feature card Curabitur sagittis hendrerit ante</div>
            </div>
            <div class="card">
                <div class="card-body">Feature card Curabitur sagittis hendrerit ante</div>
            </div>
            <div class="card">
                <div class="card-body">Feature card Curabitur sagittis hendrerit ante</div>
            </div>
        </div>
    </div>

</div>
<div class="content-splash">

    <div class="section">
        <h4 class="section-heading">NEW</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo.
            Vestibulum fermentum tortor id mi. Curabitur sagittis hendrerit ante. Nunc tincidunt ante vitae massa.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec quis nibh at felis congue commodo.
            Vestibulum fermentum tortor id mi. Curabitur sagittis hendrerit ante. Nunc tincidunt ante vitae massa.
        </p>
    </div>
    <div class="section">
        <h4 class="section-heading">FEATURES</h4>
        <div class="card-navigator">
            <div class="card">
                <div class="card-body">Feature card Curabitur sagittis hendrerit ante </div>
            </div>
            <div class="card">
                <div class="card-body">Feature card Curabitur sagittis hendrerit ante</div>
            </div>
            <div class="card">
                <div class="card-body">Feature card Curabitur sagittis hendrerit ante</div>
            </div>
            <div class="card">
                <div class="card-body">Feature card Curabitur sagittis hendrerit ante</div>
            </div>
        </div>
    </div>

</div>

<div class="smart-separator" id="down"></div>