@model AccountModel
@{
    ViewData["Title"] = "Admin - Accounts";
    Layout = "~/Views/Admin/_AdminNav.cshtml";
}
<div class="toolbox toolbox-right">

    <div class="input-group">
        <button type="button" class="btn btn-green outline-dark" onclick="location.href = '@Url.Action("Accounts", "Admin")'">
            Back to list
        </button>
    </div>

</div>

<div class="card content-card">
    @await Component.InvokeAsync("AccountValidation", Model.Id)
</div>

<div class="card content-card top-margin">
    @await Html.PartialAsync("../Admin/Accounts/_AccountEditForm", Model)
</div>

