@{
    ViewData["Title"] = "Admin panel";
    Layout = "~/Views/Admin/_AdminNav.cshtml";
}

<div class="admin-content" id="IndexPage">
    <h3 class="page-header">Administration panel</h3>
    <div class="admin-panel">Content...</div>
</div>