$color_multi: #006466;

$color_dark: #1D2647;
$color_green: #3C9196;
$color_beige: #EEE8CB;
$color_yellow: #E7A838;
$color_red: #D74726;


$gradient: radial-gradient(circle, rgba(36,46,81,1) 0%, rgba(41,50,89,1) 0%, rgba(29,38,71,1) 73%);
.smart-separator {
    min-height: 2.5rem;

}

#up {
    background-image: url("../img/Separator.jpg");
    background-size: cover;
    background-position: left bottom;
}

#down {
    background-image: url("../img/SeparatorDown.jpg");
    background-size: cover;
    background-position: left top;
}

.content-splash {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap-reverse;
    }

    .section {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

        @media screen and (min-width: 768px) {
            max-width: 50%;
        }
    }
}

.card-navigator {
    display: flex;
    flex-wrap: wrap;


    .card {
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }
}

.bg-cosmic {
    background: $gradient;
}

.footer-notice {
    color: $color_beige;

    a {
        color: $color_green;
    }
}

.navbar {
    .navbar-brand {
        color: $color_beige;
        font-weight: 500;
    }


    .text-light {
        color: $color_beige !important;
        font-weight: 500;
    }
}